# Secrets for the container.
# These are available inside the container and hence to any agent running it.
# This is by design (GH_TOKEN is required for git push etc.).
# But it means that you need to be careful what you expose here.
GH_TOKEN=github_pat_...
